



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
      

    min-height:100vh;
    display:flex;
    flex-direction:column;
}
header{
    background-color:#895431;
    
    height: 11rem;
    padding:0 1rem;
    position:fixed;
    z-index: 99;
    width:100%;
    box-shadow: 0 2px 2px #3a3a3a;
    overflow:hidden;
}
header a{
    text-decoration: none;
    color:inherit;
}
h1{font-family: ;
    margin-top: 10px;
    font-size:xxx-large;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#menu{
    display:flex;
    flex-direction:row;
    float:right;
    margin-right:30px;
    font-size:110%;
    letter-spacing:4px;
    list-style-type: none;
}
#menu li{
    padding-left: 1rem;
    margin-bottom:1em;
}
#hero-image{
    height: 50rem;
    width:100%;
 background-repeat: no-repeat;
 background-position:  center;
 background-size:contain;
 position: relative;
 left:0px;
 top:0px;
 z-index: -1;

}
main{
    flex:1 0 auto;
    margin-top:150px;
}
footer{
    background-color: lightcoral;
}
.active{
    border-bottom: 1px solid #3f3f3f;
}
#About{
    margin-top: 1rem;
    text-align: center;
    color:#712e01;
}
h2{
    margin-top: 10px;
    text-align: center;
    color:#712e01;
}
h3{
margin-top: 3rem;
letter-spacing: 2px;
text-align: justify;
margin-left: 1.5rem;
margin-right:1.5rem;
color:#712e01;
}
.Abou{
    color:#712e01;
}
.gallery{
    border:1px solid black;
    width:100%;
    height:auto;
}
.price{
    text-align: center;
    padding:15px;
}
.responsive{
    padding: 0 auto;
    float:left;
    width:24.9%;
}
@media only screen and(max-width:700px) {
    .responsive{
width:49.9%;
margin:0 6px;
    }
}
@media screen and(max-width:500px) {
    .responsive{
        width:100%;
    }
}